<!-- NAVBAR -->
<div class="container fixed-top"><nav class="navbar bg-body-tertiary">
    <div class="container-fluid ">
      <span class="navbar-brand mb-0 h1 ">This is the navbar, still working on it</span>
    </div>
  </nav>
</div>
<div class="container">
  <div class="container">
    <!-- TOP BAR OF TABLE -->
    <div id="custom-pagination" class="d-flex justify-content-end"></div>
  </div>
  <!-- TABLE DIV-->
  <div class="container overflow-auto" style="height: 1000px;">
    <div id="orders-table" class="h-75">
      <!-- TABLE PARTIAL -->
      <%= render "test_orders/table" %>
    </div>
  </div>
</div>
