<div class="container fixed-top"><nav class="navbar bg-body-tertiary">
    <div class="container-fluid ">
      <span class="navbar-brand mb-0 h1 ">This is the navbar, still working on it</span>
    </div>
  </nav>
</div>
<div class="container">
  <div class="container">
    <div id="custom-pagination" class="d-flex justify-content-end"></div>
  </div>
  <div class="container" style="height: 1000px;">
    <label for="fSearch">Search</label>
    <input type="text" id="fSearch" name="fSearch">
    <div id="orders-table" class="h-75"></div>
  </div>
</div>
<script>
  var dataSource = '/test_orders/table_data';
  // tabulator order_table table with below fields as columns
  var orders_table = new Tabulator("#orders-table", {
    paginationSize: 20,
    paginationSizeSelector: [10, 20, 50, 100],
    height:"100%", // set height of table (optional)
    layout:"fitColumns", //fit columns to width of table (optional)
    ajaxURL: dataSource,
    pagination: true,
    paginationElement: document.getElementById("custom-pagination"),
    responsiveLayout:true,
    layout:"fitData",
    rowHeight: 30,

    columns:[ //Define Table Columns

      {title:"Platform Ref", field:"platform_ref", width:150},
      {title:"Product Ref", field:"product_ref", hozAlign:"left"},
      {title:"Purchased", field:"purchased", hozAlign:"left"},
      {title:"Estimated Delivery Date", field:"estimated_delivery_date", hozAlign:"left"},
      {title:"Total Cost", field:"total_cost", hozAlign:"left"},
      {title:"Status", field:"status", hozAlign:"left"},
      {title:"Sales Channel", field:"sales_channel", hozAlign:"left"},
      {title:"Shipped At", field:"shipped_at", hozAlign:"left"},
      {title:"Customer Name", field:"customer_name", hozAlign:"left"},
      {title:"Customer Address", field:"customer_address", hozAlign:"left"},
    ],
  });

  const input = document.getElementById("fSearch");
  input.addEventListener("keyup", function() {
    orders_table.setFilter(matchAny, { value: input.value });
    if (input.value == " ") {
        orders_table.clearFilter()
    }
  });

  function matchAny(data, filterParams) {
      //data - the data for the row being filtered
      //filterParams - params object passed to the filter
      //RegExp - modifier "i" - case insensitve

    var match = false;
    const regex = RegExp(filterParams.value, 'i');

    for (var key in data) {
        if (regex.test(data[key]) == true) {
            match = true;
        }
    }
    return match;
  }
</script>
