<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div class="container" data-controller="hello">
  <table id="example">
    <thead>
      <tr>
        <th>Lastname</th>
        <th>Firstname</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Messiani</td>
        <td>Cristiano</td>
      </tr>
      <tr>
        <td>Rolando</td>
        <td>Esteban</td>
      </tr>
      <tr>
        <td>Traoré</td>
        <td>Adam</td>
      </tr>
    </tbody>
  </table>
</div>
